<h2>Sent messages</h2>
<ul class="list-group">
	<% @messages.each do |message| %>
		<li class="list-group-item">
			Message sent to <%= message.recepient.email%> at <%= message.created_at.strftime("%B %d at %I:%M %p")%>
			<span class="pull-xs-right">
			<% if message.read? %>
			read at <%= time_ago_in_words message.read_at %> ago
			<% else %>
			unread
			<% end %>
			</span>
		</li>
	<% end %>
</ul>